.news_letter {
  background-color: $main-color;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: 290px;
  margin-right: 290px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  @include media-breakpoint-down(lg) {
    height: 316px;
    width: 500px;
    margin-left: 143px;
    margin-top: 44px;
  }
  .news_text {
    margin-left: 138px;
    @include media-breakpoint-down(lg) {
      margin-top: -67px;
      margin-left: 43px;
    }
    h3 {
      color: $white;
      padding: 120px 0;
      font-size: 42px;
      font-weight: 800;
    }
    h4 {
      margin-top: -248px;
      color: $white;
      padding: 120px 0;
      font-size: 42px;
      font-weight: 800;
    }
  }
  .news_btn {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 90px;
    margin-top: 181px;
    @include media-breakpoint-down(lg) {
      margin-left: 95px;
      margin-top: -80px;
    }
  }
  input {
    background-color: $white;
    border: none;
    outline: none;
    padding: 15px 15px;
  }
  button {
    background-color: $white;
    border: none;
    outline: none;
    padding: 15px 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  svg {
    fill: $main-color;
  }
}
